<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.driveexamsys.mapper.FeedbackMapper">

    <resultMap id="BaseResultMap" type="com.graduation.driveexamsys.domain.Feedback">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="studentid" column="studentId" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,studentId,content,
        updateTime
    </sql>
</mapper>
